/* Contact.scss */
.contact-form-container {
	background-color: #252934;
	padding: 20px 0 100px 0;
}

.contact-form {
	color: #04C2C9 !important;
	width: 30%;
	margin: 40px auto;
	text-align: center;

	input,
	textarea {
		background-color: #1E242C;
		border-radius: 0;
		border: 1px solid #1E242C;
	}

	h1 {
		color: #FFF;
		text-transform: uppercase;
	}

	hr {
		background-color: #FFF;
	}

	p {
		color: #04C2C9 !important;
		font-size: 12pt !important;
		font-weight: 600;
		margin: 40px 0;
	}

	label {
		display: none;
	}

	textarea {
		height: 100px;
	}

	a.btn {
		color: #FFF !important;
		float: right;
	}

	.contact-form-sent {
		background-color: #E31B6D;
		color: #FFF;
		padding: 10px 5px;
	}
}



