/* Home.scss */
body {
	padding-top: 0;
}

#body-container {
	width: 100%;
	height: 100%;
	background-image: url('./images/home-background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center; /*centers items on the line (the x-axis by default)*/
	align-items: center; /*centers items on the cross-axis (y by default)*/
}

h1, h2 { color: white !important; }

h1 {
	font-size: 32pt;
	line-height: 36pt;
}

h2 {
	font-size: 17pt;
	line-height: 32pt;
}

p {
	margin-top: 15px !important;
}

strong {
	color: #E31B6D;
}

.btn-outline-secondary {
	font-family: 'Roboto', sans-serif !important;
	color: white !important;
	border-color: white !important;
	border-width: 2px !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
	background-color: #04C2C9;
	border-color: #04C2C9 !important;
}

.portrait {
	border: 2px solid #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
