/* Projects.scss */
@import './_variables.scss';

#page-projects .row {
	text-align: left;
	
	img {
		width: 100%;
		height: auto;
	}
}

.badge-secondary {
	background-color: $pink-dark;
	font-size: 0.4em;
	position: relative;
	top: -10px;
}

.source {
	position: relative;
    top: -20px;
    display: inline-block;
    margin-right: 5px;
}
